<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン画面</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<!-- ============= -->
	<header class="pc">
		<nav class="pc-nav">
			<div class="pc-nav-left">
				<a href=""><img class="login_logo" th:src="@{/image/login_logo.png}" alt="login_logo"></a>
			</div>
			<div class="pc-nav-right">
				<div><a href=""><img src="#" alt=""></a></div>
			</div>
		</nav>
	</header>
	<!-- ============= -->

	<main>
		<section>
			<h2>ログイン</h2>

			<form th:action="@{/account/login/process}" method="post">
				<table>
					<tr>
						<th>email</th>
						<td><input type="email" name="accountEmail"></td>
					</tr>
					<tr>
						<th>password</th>
						<td class="login-pass"><input type="password" name="password"></td>
					</tr>
				</table>
				<div class="submit-button">
					<button id="login" class="active_btn" type="submit">ログイン</button>
				</div>
				<div class="submit-button">
					<button id="register" class="account_login_btn" type="submit">新規登録はこちら</button>
				</div>
			</form>
		</section>
	</main>
</body>

</html>