<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商品一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>

		<!--pc-->
		<nav class="pc">
			<div class="pc-inner">
				<div class="pc-logo">
					<a href=""><img class="blog_logo" th:src="@{/image/blog_logo.png}" alt=""></a>
				</div>
				<ul class="pc-list">
					<li class="pc-list__item" th:text="${accountName}"></li>
					<li class="pc-list__item"><a href="">ホーム</a></li>
					<li class="pc-list__item"><a href="">ブログ一覧</a></li>
					<li class="pc-list__item"><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<article>
			<h2>ブログ一覧</h2>
			<section class="register-item">
				<div class="all-view-register__button">
					<a href="" class="btn btn--orange btn--radius">ブログ登録</a>
				</div>
			</section>
			<ul class="blogs">
				<li>
					<a href="">
						<img src="" alt="">
						<p></p><br>
						<p></p>
					</a>
				</li>

			</ul>

		</article>

	</main>
	<footer>
		<div>
			<small>&copy; 2025 fuyanlei</small>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>

</html>