<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<!--pc-->
		<nav class="pc">
			<div class="pc-inner">
				<div class="pc-logo">
					<a href=""><img class="blog_logo" th:src="${/image/blog_logo.png}" alt=""></a>
				</div>
				<ul class="pc-list">

					<li class="pc-list__item"><a href="">ホーム</a></li>
					<li class="pc-list__item"><a href="">ブログ一覧</a></li>
					<li class="pc-list__item"><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="main-inner">
			<section class="register-section">
				<h2>記事更新</h2>
				<form action="/blog/edit/process" method="post" enctype="multipart/form-data">
					<div class="register-section-details">
						<div class="register-section-details_flex">
							<div>タイトル</div>
							<input type="text" name="blogTitle" value="">
						</div>

						<div class="register-section-details_flex">
							<div>カテゴリー</div>
							<input type="text" name="blogCategory" value="">
							<!-- <select name="blogCategory">
								<option value=""></option>
								<option value="焼肉" selected="">焼肉
							</select> -->
						</div>
						<div class="register-section-details_flex">
							<div>画像</div>
							<input type="file" name="blogImage">
						</div>
						<div class="register-section-details_flex">
							<div>詳細</div>
							<textarea name="blogText" placeholder="記事内容の更新"></textarea>
						</div>

					</div>
					<div class="register-section-details_flex">
						<input type="hidden" name="blogId" value="">
						<button class="register">更新</button>
						<button class="back-btn" onclick="history.back();" type="button">戻る</button>
					</div>
				</form>
				<form th:action="@{/blog/delete}" method="post">
					<div class="register-section-details_flex">
						<input type="hidden" name="blogId" value="">
						<button class="register">削除</button>
					</div>
				</form>
			</section>
		</div>
	</main>
	<footer>
		<div>
			<small>&copy; 2025 fuyanlei</small>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>

</html>